@{
    var date = DateTime.Now.Date;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Moment1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/1b3245a0b9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Moment1.styles.css" asp-append-version="true" />
</head>

<body onresize="removeBtn()">
    <header>
        <div class="d-flex flex-row justify-content-between">
            <h1><a asp-area="" asp-page="/Index">Moment1</a></h1>
            <p>Dagens datum är: @date.ToString("yyyy/MM/dd")</p>
        </div>
    </header>

    <div class="container  no-padding">
        <div class="row no-padding">
            <button id="open-menu-btn" onclick="openMenu()">Meny <i class="fa-solid fa-bars"></i></button>
            <button id="close-menu-btn" onclick="closeMenu()">Stäng <i class="fa-solid fa-xmark"></i></button>
            <div class="col-md-2 no-padding" id="menu-container">
                <nav id="menu">
                    <ul class="nav flex-column text-center text-md-start">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Start</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Razor">Razor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/About">Om sida</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <main class="col-md-10" role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer>
        <div class="text-center">
            <p>Av Jeanette Krantz - Kontakta mig via epost: <a
                    href="mailto:jekr2201@@student.miun.se">jekr2201@@student.miun.se</a></p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>