@* 
    Moment 1.1 - Razor
    Kurs: Webbutveckling med .NET
    Utvecklare: Jeanette Krantz
    Datum: 2024-02-06
*@

@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "Om sida";
}

<div>
    <h1>@ViewData["Title"]</h1>
    <p>En sida om mig som skapat webbplatsen.</p>
    <p>
        Namn: Jeanette Krantz <br/>
        Ålder: 28 <br/>
        Stad: Göteborg <br/>
        Yrke: Student och Bibliotekarie <br/>
        Läser just nu: Fåglarna av Tarjei Vesaas <br/>
        Roligast med Razor: Smidigt och snabbt att använda <br/>
        Tråkigast med Razor: Gillar inte hur man skriver kommentarer
    </p>
</div>
