@* 
    Moment 1.1 - Razor
    Kurs: Webbutveckling med .NET
    Utvecklare: Jeanette Krantz
    Datum: 2024-02-06
*@

@page
@model IndexModel
@{
    ViewData["Title"] = "Startsida";
}

<div>
    <h2>@ViewData["Title"]</h2>
    <p>Detta är startsidan på webbplatsen som skapats för Moment 1.1 i kursen Webbutveckling med .NET.</p>
    <p>Hela webbplatsen består av tre sidor. En startsida, en sida med information om mig, och till sist en sida med Razor-kod.</p>
</div>
