@* 
    Moment 1.1 - Razor
    Kurs: Webbutveckling med .NET
    Utvecklare: Jeanette Krantz
    Datum: 2024-02-06
*@

@page
@model IndexModel
@{
    ViewData["Title"] = "Startsida";
}

<div>
    <h1>@ViewData["Title"]</h1>
    <p>Webbplatsens startsida</p>
</div>
